@charset "UTF-8";
@import url(reset.css);
@import url(common.css);

/* 阅读页面公共样式开始 */

.type-page {
    width: 1200px;
    margin: 0 auto;
}

.ba-c {
    background: #e5e6e4;
}

.ba-c1 {
    background: #cfd2cd;
}


/* 阅读页公共样式结束 */


/* 头部开始 */

body>.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: -58px;
    transition: .3s;
    border-bottom: 3px solid #a6a2a2;
    background: #e5e6e4;
}

body>.header:hover {
    top: 0px;
}

.header .menu {
    height: 95px;
    text-align: center;
}

.menu .title {
    font-size: 12px;
    padding-top: 17.5px;
}

.menu .title h3 {
    margin-bottom: 5px;
}

.menu .title h2 {
    display: inline;
    padding: 2px 5px;
}

.layout {
    padding-top: 12.5px;
    margin-right: 100px;
}

.layout li {
    float: left;
    margin-right: 10px;
    font-size: 13px;
    width: 40px;
    text-align: center;
    border: 1px solid #a6a6a6;
    padding: 3px 2px;
    border-radius: 4px;
    cursor: pointer;
}

.layout li:hover {
    background: #d6d6d6;
}

.layout li:first-child i {
    font-size: 18px;
}

.layout li:nth-child(2) i {
    font-size: 16px;
}

.layout li:nth-child(3) i {
    font-size: 19px;
}

.menu .skin {
    padding-top: 25px;
    margin-right: 100px;
}

.skin dt {
    font-size: 14px;
    margin-right: 5px;
    cursor: context-menu;
}

.skin dd {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.skin dd:first-of-type {
    background: #fbfbf2;
}

.skin dd:nth-of-type(2) {
    background: #e0ece4;
}

.skin dd:nth-of-type(3) {
    background: #a6a2a2;
}

.menu .font {
    padding-top: 25px;
    font-size: 14px;
    cursor: context-menu;
    margin-right: 90px;
}

.font input {
    width: 80px;
    vertical-align: bottom;
}

.menu .catalogue {
    padding-top: 15.5px;
    cursor: pointer;
}

.menu .catalogue p {
    font-size: 12px;
}

.menu .catalogue i {
    font-size: 22px;
}


/* 头部结束 */


/* 文章开始 */

body>.main {
    padding-top: 70px;
    padding-bottom: 80px;
}

.main .article {
    width: 1350px;
    margin: 0 auto;
}

.main .article h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 30px 0;
}

.main .article p {
    text-indent: 2em;
    font-size: 20px;
    line-height: 45px;
    /* line-height真正作用对象是字体 */
}


/*::selection伪元素 元素中文字被划取的效果 */

.main .article h4::selection,
.main .article p::selection {
    color: #f40;
    background: #e5e6e4;
}

.main .article .alert {
    font-size: 20px;
    font-weight: bold;
    padding: 40px 0 10px 0;
    text-indent: 2em;
}

.main .article .vip {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0;
}

.main .article .vip a {
    cursor: pointer;
}

.main .article .vip a:hover {
    color: #333;
}


/* 文章结束 */


/* 目录开始 */

.directory {
    position: fixed;
    width: 400px;
    /* height: 600px; */
    background: #e5e6e4;
    right: 0px;
    right: -374px;
    top: 13.5%;
    transition: .7s;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 1;
}

.directory .title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.directory .time {
    padding: 0 0 20px 25px;
}

.directory .list {
    height: 550px;
    overflow: auto;
}

.directory .list li {
    position: relative;
}

.directory .list li p {
    padding-left: 60px;
    font-size: 18px;
    margin: 40px 0;
    line-height: 27px;
}

.directory .list li i {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    bottom: 0;
    left: 25px;
    margin: auto 0;
}

.directory:hover {
    right: 0px;
}


/* 目录结束 */


/* 页尾进度条开始 */

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    /* width: 25%;
    height: 5px;
    background: yellow; */
    width: 100%;
    /* height: 10px; */
}

.footer .read {
    width: 25%;
    height: 5px;
    background: yellow;
}

.footer .unread {
    width: 75%;
    height: 5px;
    background: #797a7e;
}


/* 页尾进度条结束 */


/* 阅读进度提示开始 */

.progress {
    position: fixed;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 10px 0 10px 20px;
    bottom: 5px;
    left: 0px;
}


/* 阅读进度提示结束 */