/* 去除浏览器给一些元素设置的内外边距 */

* {
    margin: 0;
    padding: 0;
}


/* 去除a元素下划线，字体颜色继承父元素*/

a {
    text-decoration: none;
    color: inherit;
}


/* 去除列表项目符号 */

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* 字体大小百分比设置，相对于父元素字体大小，如果没有父元素那么相对于浏览器默认字号 */
    font-size: 100%;
    /* 去除字体加粗 */
    font-weight: normal;
}