@charset "UTF-8";
@import url(reset.css);
@import url(common.css);
body {
    background: gray;
}

video {
    position: fixed;
    width: 100%;
    z-index: -1;
}

.main {
    position: fixed;
    width: 650px;
    height: 400px;
    box-sizing: border-box;
    padding-top: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, .75);
    box-shadow: 3px 3px 6px 3px rgb(0 0 0 / 30%);
    border-radius: 5px;
    z-index: 0;
    overflow: hidden;
}

.center {
    width: 250px;
    margin: 0 auto;
}

.main>.id>input,
.main>.auth>input,
.main .login>button {
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 13px;
}

:focus-visible {
    outline: none;
}

.main>.id>input,
.main>.auth>input {
    padding-left: 10px;
    transition: box-shadow .25s;
}

.main>.id>input:focus,
.main>.auth>input:focus {
    box-shadow: rgb(0 122 255 / 30%) 0px 0px 0px 2px;
}

.main .login>button {
    background: #242528;
    color: #fff;
    border: none;
    cursor: pointer;
}

.main .login>button:hover {
    background: #454548;
}

.main>.auth {
    position: relative;
}

.main>.auth>.gain {
    position: absolute;
    width: 80px;
    font-size: 13px;
    right: -5px;
    top: 19px;
    color: #757575;
}

.main>.id>input::placeholder,
.main>.auth>input::placeholder {
    color: #757575;
    font-size: 13px;
}

.main>.third {
    font-size: 14px;
    width: 99px;
    margin: 15px auto;
    cursor: context-menu;
}

.main .ico {
    width: 181px;
    margin: 20px auto;
}

.main .ico li {
    width: 32px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    /* background: lightblue; */
    font-size: 17px;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

.main .ico li:last-child {
    margin-right: 0;
}


/* 扫码部分开始 */

.main .qr {
    position: absolute;
    width: 650px;
    height: 400px;
    /* background: rgba(255, 255, 255, 1); */
    top: -300px;
    /* top: 0px; */
    left: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 23px;
    transition: 1s;
}

.main .qr .hint {
    font-size: 18px;
    color: #333;
    width: 280px;
    margin: 0 auto;
    cursor: context-menu;
}

.main .qr .hint span {
    color: black;
    margin: 0 10px;
}

.main .qr .hint span:last-child {
    margin-right: 0;
}

.main .qr .scan {
    font-size: 18px;
    width: 127px;
    margin: 15px auto;
    cursor: context-menu;
}

.main .qr .tu {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.main .qr img {
    width: 200px;
}

.main .qr .sketch {
    height: 88px;
    line-height: 88px;
    text-align: center;
    font-size: 18px;
    cursor: context-menu;
}

.main .qr:hover {
    top: 0px;
    background: #fff;
}


/* 扫码部分结束 */