/* 样式重置 */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* 字体大小百分比设置，相对于父元素字体大小，如果没有父元素那么相对于浏览器默认字号 */
    font-size: 100%;
    /* 去除字体加粗 */
    font-weight: normal;
}


/* 样式重置结束 */

body {
    font: 16px serif, sans-serif;
    color: #173e43;
    background: #dddfd4;
}

.header {
    width: 80%;
    height: 80px;
    background: #fae596;
    margin: 0 auto;
    margin-bottom: 40px;
}

.header nav a {
    float: left;
    box-sizing: border-box;
    /* width: 25%; */
    width: 16.66%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    transition: border-bottom-color .8s;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.header nav a:hover {
    border-bottom-color: #173e43;
}

.header .border {
    border-bottom-color: #173e43;
}

.main {
    background: #3fb0ac;
    padding: 30px 20px;
}

.main>a {
    float: left;
    box-sizing: border-box;
    width: 25%;
    height: 60px;
    border: 2px solid black;
    line-height: 56px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jianjie {
    text-align: center;
    background: #c5d5cb;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.kuai1,
.kuai2 {
    display: inline-block;
    width: 40px;
    height: 20px;
    vertical-align: text-bottom;
}

.kuai1 {
    background: lightblue;
    margin-right: 100px;
}

.kuai2 {
    background: #cdd422;
}

.firstWeek {
    background: lightblue;
}

.secondWeek {
    background: #cdd422;
}

.hsw {
    display: none;
}

.nws {
    display: none;
}

.cbn {
    display: none;
}

.zpb {
    display: none;
}

.lyh {
    display: none;
}

.zy {
    font-size: 30px;
    font-weight: bold;
}